#username,
#email,
#password {
  height: 50px;
  width: 240px;
  border-radius: 3px;
}
button {
  width: 120px;
  height: 36px;
  outline: lightgray solid;
  background-color: khaki;
}

input {
  height: 50px;
  width: 240px;
  border-radius: 3px;
}
